@{
    ViewBag.Title = "_Navbar";
}
<div class="row">
    <div class="small-12 columns">
        <ul class="button-group">
            <li>@Html.ActionLink("Home", "Index", null, new { @class = "button" })</li>
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("Projects", "Index", "Editor", new { @class = "button" })</li>
            }
            <li>@{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml");}</li>
        </ul>
    </div>
</div>