@model IEnumerable<PanelSmith.ViewModels.ProjectViewModel>
@using PanelSmithDAL.Models
@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<dd>
    <table class="table">
        <tr>
            <th>Project Name</th>
            <th>Author</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.profile.UserName)    
                </td>
            </tr>
        }
    </table>
</dd>

@using (Html.BeginForm("Create","Project",FormMethod.Post))
{
    <div class='hidden panel small-8 columns' id='name' data-next='count'>
        <label>Project Name:</label>
        <input type="text" placeholder="Enter Project Name" name='projectName' required>
        <button id='nameButton' class="small button" type='button'> Next </button>
    </div>
    <div class='hidden panel small-8 columns' id='count' data-next='confirm'>
        <label>Panel Count:</label>
        <input class='small-4 columns' type="number" placeholder="Between 0 and 8" name='panelCount' required min=0 max=8>
        <button id='countButton' class="small button" type='button'> Next </button>
    </div>
    <div class='hidden panel small-8 columns' id='confirm'>
        <p id='content'>Create a project named, __name__, with __count__ panels?</p>
        <button id='confirmButton' class="small success button" type='submit'> Yes! </button>
    </div>
    <button id="outer" class="small success button" type='button'> Create Project </button>
    <div>
    </div>

}

@section Scripts {
@Scripts.Render("~/Bundles/Foundation")

<script type="text/javascript">
    $(document).ready(function () {
        $('#outer').click(function () {
            var name = $('#name');
            name.toggleClass('active');
            if (name.hasClass('inactive'))
                name.toggleClass('inactive');
            $('#outer').prop("disabled", true);
        })
        $('#nameButton').click({ current: "name" }, next_modal)
        $('#countButton').click({ current: "count" }, next_modal)
    })

    function next_modal(event) {
        var cur = $('#' + event.data.current);
        var next = $('#' + cur.data('next'))
        var final = cur.data('next') == 'confirm';
        cur.toggleClass('inactive');

        if (cur.hasClass('active'))
            cur.toggleClass('active');

        next.toggleClass('active');
        if (next.hasClass('inactive'))
            next.toggleClass('inactive');
        //this next line is hackish and a new function should be created for the confirm modal.
        if (final) {
            content = $('#content')
            content.text(content.text()
                            .replace('__name__', $('#name input').val())
                            .replace('__count__', $('#count input').val())
                        )
        }

    }
</script>

}
