@using PanelSmithDAL.Models
@model IEnumerable<Project>
@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<dd>
    <table class="table">
        <tr>
            <th>Project Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
            </tr>
        }
    </table>
</dd>

<div id="createModal" class="reveal-modal" data-reveal aria-labelledby="createModalTitle" aria-hidden="true" role="dialog">
    <h2 id="createModalTitle">Create New Project</h2>
    <p>You are about to create a new project! How many panels do you wish to include?</p>
    <input id="PanelCount" type="text" value="--Select--">
    <input>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<a href="#" data-reveal-id="createModal" class="small success button">Create Project</a>
