@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <div class="row">
        <div class=" small-12 columns">
            <p>
                PanelSmith is an application that aims to simplify the production of high quality web comics. Web comic production has become a very viable marketplace for many artists and they have grown in popularity in the last several years. However, with the rise in popularity, it can still be very difficult to discover new webcomics as they are often being hosted on different web sites. There are also very few good editors for making webcomics, making it difficult for artists to get started.
            </p>
            <br />
            <p>
                The goal of PanelSmith is to allow users to edit and host there webcomics on one application for free. It will have a responsive UI support features that will be helpful in the development of webcomics. There will also be a simple viewer application where any user can view their projects or another user’s projects without having to link to other websites. If all goes smoothly, PanelSmith will greatly improve the webcomic experience for viewers and creators alike!
            </p>
        </div>
    </div>
</article>