@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<fieldset>
    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <div class="row">
            <div class="small-12 columns">
                <span class="label">Cell:</span>
                <span>408-802-5009</span>
            </div>
        </div>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <div class="row">
            <div class="small-12 columns">
                <span class="label">Support:</span>
                <span><a href="michaellinsenbardt@yahoo.com">michaellinsenbardt@yahoo.com</a></span>
            </div>
        </div>
    </section>

    <section class="contact">
        <header>
            <h3>Address</h3>
        </header>
        <div class="row">
            <div class="small-12 columns">
                1521 Nord Avenue Apt#3<br />
                Chico, CA, 95926
            </div>
        </div>
    </section>
</fieldset>