@{
    ViewBag.Title = "FAQ";
}

<h2>FUCK! It Broke...</h2>

<div class="row">
    <div class="small-12 columns">
        <p>There seems to be a problem with this address. Try back later.</p>
    </div>
</div>
