<head>
    <title>Welcome to PanelSmith!</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick.css" />
    @*// Add the new slick-theme.css if you want the default styling*@
    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick-theme.css" />
</head>

@section scripts
{
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>
    <script>
        $(document).ready(function(){
        $('.main_carousel').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 10000,
        });
        });
    </script>
}


<body>
        <div class="large-12 columns">
            <h1>Welcome to PanelSmith!</h1>
        </div>
    <br/>

    <div class="row">
        <div class="large-12 large-centered column">
            <div class="main_carousel">
                <div><img data-lazy="../Images/Comic1.jpg" /></div>
                <div><img data-lazy="../Images/Comic2.jpg" /></div>
                <div><img data-lazy="../Images/Comic3.jpg" /></div>
                <div><img data-lazy="../Images/Comic4.jpg" /></div>
                <div><img data-lazy="../Images/Comic5.jpg" /></div>
            </div>
        </div>
    </div>


</body>